  .div-mid{
  background-color: mistyrose;
  border: 10px solid rebeccapurple;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  float: middle;
}
.div-right{
background-color: mistyrose;
  border: 10px solid rebeccapurple;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  float:right
}
.div-left{
background-color: mistyrose;
  border: 10px solid rebeccapurple;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  float:left
}
.div-square {
  background-color: mistyrose;
  border: 10px solid rebeccapurple;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  float: middle
  height: 960px;
  
}


  body {

  background-image: url("stars.jpeg");
  background-repeat: no-repeat;
  background-color: black;
  background-attachment: fixed; 
  background-size: 100% 100%;
  
  color: indigo;
  
  font-family: Jazz LET, Fantasy;
  text-align: center;
  
  
  
  

}


a:link {
  color: blue;
  
  text-decoration: none;
}

a:visited {
  color: blue;
  
  text-decoration: none;
}

a:hover {
  color: indigo;
  
  text-decoration: underline;
}

a:active {
  color: indigo;
  
  text-decoration: underline;
}
