body {
    font-family: "Courier New", monospace;
    text-align: center;
    background-color: ##baf1ff;
    border: 10px solid green;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
  


    
}
h1 {
    color: #333;
}
button {
    padding: 10px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
}
